body {
    background-color: #000000;
    font-family: "EB Garamond";
    color: #dff7d9
}

section:nth-child(even) {
    background-color: #04003a;
    color: inherit;
}

section {
    box-shadow: none;
}

h1 {
    color: inherit;
    text-shadow: none;
    font-family: "Cooper Black";
}

h2 {
    font-family: "Cooper Black";
}

#Home h2 {
    font-family: "EB Garamond";
}


#logo {
    background-color: #00000088;
    background-image: url("../img/logo_blue.svg");
}

@media (any-hover: hover) {
    #logo:hover, nav p:hover  {
        outline: 2px solid #dff7d9;
    }
}

nav p {
    font-family: Arial, Helvetica, sans-serif;
    color: inherit;
    outline: 2px solid black;
    border-radius: 0;
    background-color: #00291d;
    /* background: linear-gradient(
        350deg,
        #002200,
        #004400 15%,
        #004400 85%,
        #006600
    ); */

}

#binaryDiv {
    background-image: url(../img/binaryDarkgreen.svg);
}

#squaresDiv {
    background-image: url(../img/squaresDarkgreen.svg);
}

.folioItemsWrapper article,
.folioItemsWrapper img,
.effectsItemsWrapper article,
.effectsItemsWrapper iframe {
    border: 1px solid #dff7d9;
}

.int::after {
    background-color: #dff7d9;
    color: black;
    outline: 3px solid black;
}

.modeButton {
    background-color: #00291d88;
}

.modeButton svg {
    fill: #dff7d9;
}
