body {
    background-color: #FFFFFF;
    font-family: "EB Garamond";
    color: #00291d;
}

section:nth-child(even) {
    background-color: #cffcf6;
    color: inherit;
}

section {
    box-shadow: none;      /* to clear box shadow after neon.css */
}


h1 {
    color: inherit;
    text-shadow: none;
    font-family: "Cooper Black";
}

h2 {
    font-family: "Cooper Black";
}

#Home h2 {
    font-family: "EB Garamond";
}

#logo {
    background-color: #FFFFFF88;
    background-image: url("../img/logo_green.svg");
}

@media (any-hover: hover) {
    #logo:hover, nav p:hover {
        outline: 2px solid #094e00;
    }
}

nav p {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dff7d9;
    /* background: linear-gradient(
        350deg,
        #a9dba3,
        #baedb3 15%,
        #baedb3 85%,
        #ebffe8
    ); */
    color: inherit;
    outline: 2px solid white;
    border-radius: 0;
    filter: drop-shadow(2px 4px 5px #00000022);
}

#homeBkgdContainer {
    z-index: -1;
    filter: drop-shadow(2px 4px 3px #00000033);
}

#squaresDiv {
    background-color: #dff7d9;
}

#binaryDiv {
    background: linear-gradient(
        110deg, 
        #dff7d9 0%,
        #dff7d9 23%,
        #f7ff6bff 24%,
        #ff6bfbff 25%,
        #6bfff8c9 26%,
        #dff7d9 27%,
        #dff7d9 48%,
        #f7ff6bff 49%,
        #ff6bfbff 50%,
        #6bfff8c9 51%,
        #dff7d9 52%,
        #dff7d9 73%,
        #f7ff6bff 74%,
        #ff6bfbff 75%,
        #6bfff8c9 76%,
        #dff7d9 77%,
        #dff7d9 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 500vw 28rem;   
}

.folioItemsWrapper article,
.folioItemsWrapper img,
.effectsItemsWrapper article,
.effectsItemsWrapper iframe {
    border: 1px solid #000000;
}

.int::after {
    background-color: #0a5900;
    color: white;
    outline: 3px solid white;
}

.modeButton .hoverText {
    background-color: #7ec5ffAA;
    color: #000000;
}

.modeButton {
    background-color: #4badff88;
}

.modeButton svg {
    fill: #094e0088;
}

div #light {
    outline: 2px solid #0a5900;
}
