body {
    background-color: #FFFFFF;
    font-family: "EB Garamond";
    color: #000000;
}

section:nth-child(even) {
    background-color: #cffcf6;
    color: inherit;
}

section {
    box-shadow: none;
}


h1 {
    color: inherit;
    text-shadow: none;
    font-family: "Cooper Black";
}

h2 {
    font-family: "Cooper Black";
}

#Home h2 {
    font-family: "EB Garamond";
}

#logo {
    background-color: #FFFFFF88;
    background-image: url("../img/logo_green.svg");
}

@media (any-hover: hover) {
    #logo:hover, nav p:hover {
        outline: 2px solid #094e00;
    }
}

nav p {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #baedb3; */
    background: linear-gradient(
        350deg,
        #a9dba3,
        #baedb3 15%,
        #baedb3 85%,
        #ebffe8
    );
    color: inherit;
    outline: 2px solid white;
    border-radius: 0;
}

#binaryDiv {
    background-image: url(../img/binaryLightgreen.svg);
}

#squaresDiv {
    background-image: url(../img/squaresLightgreen.svg);
}

.folioItemsWrapper article,
.folioItemsWrapper img,
.effectsItemsWrapper article,
.effectsItemsWrapper iframe {
    border: 1px solid #000000;
}

.int::after {
    background-color: #0a5900;
    color: white;
    outline: 3px solid white;
}

.modeButton {
    background-color: #4badff88;
}

.modeButton svg {
    fill: #094e0088;
}
