/* **************************************** */
/* ***           Qualitative            *** */
/*   eg. colors, fonts, outlines, shadows   */
/* **************************************** */

:root {
    --boxBkgd:#FFFFFF88;
    --bkgd: #dff7d9;
    --boxLine:#efa26d;
    --quotes: #0094a248;
    --shadow: #75cdcb;
    --headings: #004933;
    --text: #033876;
    --triangles: #c8f1be;
}

body {background-color: var(--bkgd);}

h1, p, li, h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

h4 {font-style: italic;}
h1 span {font-weight: bold;}

.box {
    background-color: var(--boxBkgd);
    border: 1px solid var(--boxLine);
    box-shadow: 2px 2px 12px -2px var(--text);
}

.box h2 {
    font-family: "Cooper Black", monospace;
    color: var(--headings);
}

navbar > * {box-shadow: 2px 2px 8px -3px var(--text);}

h1, navbar p {
    color: var(--text);
    background-color: var(--boxBkgd);
    border: 1px solid var(--boxLine);
}

navbar a {text-decoration: var(--headings) underline;}

p, li {color: var(--text);}

.featuredText {
    font-family: "Cooper Black", monospace;
    color: var(--quotes);
}

#skillsSummary p:last-child {font-style: italic;}

a {
    color: var(--text);
    text-decoration: var(--text) underline;
}

h2 {text-shadow: 3px 3px 0 var(--shadow);}

#folioSection {
    background-image: linear-gradient(
        to top,
        var(--quotes),
        var(--bkgd)
    );
}

h3 {
    font-family: "Cooper Black", monospace;
    color: var(--headings);
    text-shadow: 3px 3px 0 var(--shadow);
    animation: shadow 2s linear infinite;
}

@keyframes shadow {
    0% {text-shadow: 3px 3px 0 #75cdcb;}
    20% {text-shadow: 3px 3px 0 #5ce66e;}
    40% {text-shadow: 3px 3px 0 #efa26d;}
    60% {text-shadow: 3px 3px 0 #61e1cd;}
    80% {text-shadow: 3px 3px 0 #5cbae6;}
    100% {text-shadow: 3px 3px 0 #75cdcb;}
}

h4 {
    color: var(--headings);
    font-weight: bold;
}


/* ************************** */
/* ***    Quantitative    *** */
/*    eg. size, positioning   */
/* ************************** */

* {box-sizing: border-box;}

html, body, body > #landing {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    position: relative;
    overflow-x: hidden;
}
#sparkleContainer {
    position: fixed;
    z-index: -1;
}
#sparkleContainer > div {
    position: fixed;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}


/* *************** */
/* ***  Fonts  *** */
/* *************** */

h1, p, li {font-size: 1rem;}

h2 {    /* This rule needs to stay physically higher up than any other qualitative rules for h2  */
    text-align: left;
    padding-left: 2rem;
    margin: 1vh 0;
    font-size: 2vh;
}

.box.landing h2 {
    text-align: right;
    padding-right: 2rem;
}


.box p {font-size: 1.7vh;}

@media (any-hover: none) and (orientation: landscape) {
    .box h2 {
        text-align: left;
        padding-left: 1.2rem;
        font-size: 5vh;
        margin: 1vh 0;
    }
    .box p {
        font-size: 4vh;
        margin: 2.5vh 0;
    }

    #CreNav h2 {font-size: 2.5vw;}
    #CreNav p, #CreNav li {font-size: 2vw;}


}



@media (any-hover: hover) and (max-width: 599px) {
    h1, navbar p {font-size: 0.8rem;}
    .box.landing h2 {text-align: center;}
    .box h2 {font-size: 1.3rem;}
}


@media (any-hover: hover) and (min-width: 600px) and (max-width: 785px) {
    h1, navbar p {font-size: 0.8rem;}

    .box h2 {
        font-size: 1.5rem;
        text-align: left;
        padding-left: 1.5rem;
    }
    .box p {font-size: 1rem;}
}


@media (any-hover: hover) and (min-width: 786px) {
    .box h2 {font-size: 1.8rem;}
    .box p {font-size: 1.2rem;}
    #CreNav h2 {font-size: 1.5rem;}
    h3.arrow {
        font-size: 1.8rem;
        width: 9rem;
    }    
}



/* ******************** */
/* ***  .box Sizes  *** */
/* ******************** */


.box {
    width: 95vw;
    margin: 1.3vh auto;
    padding: 0 0.5rem;
}    

.box.headingBox {
    width: max-content;
    grid-row: 1;
    grid-column: span 2;
}    

@media (any-hover: hover) and (max-width: 599px) {
    .box.landing {width: 90vw;}
}

@media (any-hover: hover) and (min-width: 600px) and (max-width: 785px) {
    .box.landing {margin: 0;}
}

@media (any-hover: hover) and (min-width: 786px) {
    .box.landing {margin: 0;}
}


/* ***************** */
/* ***  Landing  *** */
/* ***************** */


/* First: mobile, in portrait */

#landing {margin: 0;}

#landingBkgd {
    position: absolute;
    top: 0;
    left: 0;
    height: 50dvh;
    width: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 25dvh solid var(--triangles);
    border-bottom: 25dvh solid var(--triangles);
    z-index: -2;
    box-sizing: content-box;
}

navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw 3vw;
    width: 80vw;
    margin: 0 auto;
    position: relative;
    top: 2vh;
}


h1, navbar p {
    padding: 0.3rem 0.5rem;
    margin: 0;
}

#statementNarrow {
    text-align: center;
    font-size: 7.5vw;
    width: 98vw;
    margin: 5vh auto 2vh auto;
}

#statementWide {display: none;}

#photoWrapper {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

#photo {
    width: 60vw;
    height: auto;
    bottom: 0;
    left: 2vw;
    transition: all 0.2s linear;
    transform-origin: bottom;
}

#funQuote {
    text-wrap: wrap;
    text-align: right;
    font-size: 5vh;
    width: 45vw;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem 0.6rem;
    line-height: 6vh;
}




/* Desktop, or mobile in landscape: change the background triangles */

@media (any-hover: none) and (orientation: landscape), (any-hover: hover) {
    #landingBkgd {
        height: 0;
        width: 50vw;
        border-top: 50vh solid transparent;
        border-bottom: 50vh solid transparent;
        border-left: 25vw solid var(--triangles);
        border-right: 25vw solid var(--triangles);    
    }   
}


/* Mobile, in landscape */

@media (any-hover: none) and (orientation: landscape) {
    navbar {
        justify-content: space-evenly;
        width: 95vw;
    }
    #statementNarrow {display: none;}    
    #statementWide {
        display: block;
        font-size: 4vw;
        text-align: center;
        width: 98vw;
        margin: 5vh auto 2vh auto;
    }
    #landingBoxes {
        position: relative;
        right: 0vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 3vw;
        justify-content: right;
        padding-right: 3vw;
    }
    #landingBoxes .box {
        height: min-content;
        margin: 0;
    }
    #languages {width: 27vw;}    
    #skillsSummary {width: 49vw;}    
    #photo {
        height: 50vh;
        width: auto;
        left: 2vw;
    }    
    #funQuote {
        right: 54vw;
        font-size: 1.5rem;
        width: 7rem;
        line-height: 1.5rem;
    }    
}


/* ***  Desktop  *** */


    /* Desktop, any screen width */

@media (any-hover: hover) {
    #skillsSection > div > div {
        margin-left: 0;
        margin-right: 0;
    }
}


    /* Desktop, screen widths below 600px */

@media (any-hover: hover) and (max-width: 599px) {

    navbar {
        margin: 0 0.5rem;
        width: 95vw;
        justify-content: left;
        gap: 5px 15px;
        top: 0.5rem;
        column-gap: 1vw;
    }
    #statementNarrow {
        font-size: 2rem;
        width: 25rem;
        margin: 5vh auto 0 auto;
    } 
    
    #photoWrapper {
        position: absolute;
        height: 35vh; 
        bottom: 0;
    }

    #photo {
        height: 35vh;
        width: auto;
        left: 0;
        bottom: 0;
        margin-left: 2vw;
    }

    #funQuote {
        width: 12rem;
        font-size: 2.4rem;
        padding-right: 2rem;
    }


}


@media (any-hover) and (max-width: 450px) {
    #funQuote {
        font-size: 1.5rem;
        line-height: 2rem;
        width: 8rem;
    }
}


    /* Desktop, screen widths between 600px and 786px */

@media (any-hover: hover) and (min-width: 600px) and (max-width: 785px) {
    navbar {
        margin: 0 1rem;
        justify-content: left;
        gap: 5px 15px;
        column-gap: 1vw;
    }
    h1, navbar p {font-size: 0.8rem;}

    #statementNarrow {
        font-size: 2rem;
        width: 25rem;
        margin: 6vh auto 1.25rem auto;
    }   
    #landingBoxes {
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        column-gap: 10px;
        justify-content: center;
        margin-top: 1rem;
    }
    #languages {width: 230px;}
    #skillsSummary {width: 350px;}
    #photoWrapper {
        position: absolute;
        height: 45vh; 
        width: 600px;
        bottom: 0;
        left: calc(50vw - 300px);
    }
    #photo {
        height: 45vh;
        width: auto;
    }

    #funQuote {
        width: 12rem;
        font-size: 2.4rem;
        padding-right: 2rem;
    }
}


    /* Desktop, screen widths between 786px and 1200px */

@media (any-hover: hover) and (min-width: 786px) {
    navbar {
        margin: 0 1rem;
        justify-content: left;
        gap: 5px 15px;
    }
    #statementNarrow {display: none;}    
    #statementWide {
        display: block;
        text-align: center;
        font-size: 2.4rem;
        margin: 7vh 0 5vh 0;
        width: 100%;
    }   
    #landingBoxes {
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        column-gap: 20px;
        justify-content: center;
    }
    #languages {width: 300px;}
    #skillsSummary {width: 440px;}
    #photoWrapper {
        position: absolute;
        height: 48vh;
        width: 760px;
        bottom: 0;
        left: calc(50vw - 380px);
    }
    #photo {
        height: 48vh;
        width: auto;
    }
    #funQuote {
        text-wrap: nowrap;
        margin-bottom: 3rem;
    }
    
}


    /* Desktop, screen widths above 1200px */

@media (any-hover: hover) and (min-width: 1200px) {
    #statementWide {
        font-size: 3rem;
        margin: 6.5vh 0 4vh 0;
    }
    #landingBoxes {column-gap: 35px;}
}


/* ******************* */
/* ***  Portfolio  *** */
/* ******************* */


#folioSection {
    min-height: 100vh;   
    margin-top: 3vh;
}

#portfolio h2, #portfolio p {text-align: center;}

h3 {
    font-size: 1.5rem;
    text-align: center;
    width: 10rem;
}

h3.effects {
    transform: rotate(-10deg);
}

h3.seeThis {transform: rotate(10deg);}

.box.folio h2 {
    text-align: left;
    padding-left: 2rem;
}

ul {list-style-position: outside;}

li {line-height: 1.4rem;}

h3.arrow {
    position: relative;
    margin: 2.5rem auto;
}

#effectsH3 {right: 80px;}

#seeThisH3 {left: 80px;}

h3.arrow::after {
    content: "";
    display: block;
    height: 60px;
    width: 50px;
    background-image: url(arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

#effectsH3::after {
    transform: rotate(200deg);
    right: -50px;
    top: 0;
}

#seeThisH3::after {
    transform: rotate(-10deg);
    left: -30px;
    top: 30px;
}



/* Mobile, in landscape */

@media (any-hover: none) and (orientation: landscape) {
    #folioWrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height:110vh;
        padding: 2vw;
        align-items: center;
    }
    #folioWrapper > div {margin: 0;}
    #portfolio {
        width: 25vw;
        min-width: min-content;
    }
    #folioWrapper h2 {
        padding: 0;
        text-align: center;
    }
    #CreNav {width: 65vw;}
    h3.arrow {
        font-size: 3vw;
        width: 15vw;
    }    
    #effectsH3 {
        right: 5vw;
        top: 2vh;
    }
    #seeThisH3 {
        left: -5vw;
        top: 8vh;
    }
    #seeThisH3::after {
        transform: scaleY(-1) rotate(-90deg);
        left: 15vw;
        top: -13vh;
    }
}



/* Desktop */


    @media (any-hover: hover) {
        #folioWrapper > div {margin: 0;}
        h3 {margin: 0;}
    }


    /* Desktop, screen width below 786px */

@media (any-hover: hover) and (max-width: 785px) {
    #folioWrapper, #folioWrapper > div {
        width: 480px;
        margin: 0 auto;
    }
}


    /* Desktop, screen widths above 786px */

@media (any-hover: hover) and (min-width: 786px) {
    #folioSection {min-height: unset;}
    #folioWrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 600px;
        padding: 30px;
        column-gap: 20px;
        justify-content: flex-start;
    }
    #portfolio {
        width: 230px;
        align-self: flex-end;
    }
    #folioWrapper h2 {
        padding: 0;
        text-align: center;
    }
    #CreNav {
        width: 460px;
        align-self: flex-start;
    }
    #folioArrows {
        align-self: flex-end;
        width: 230px;
    }
    #effectsH3 {
        right: 50px;
        top: 20px;
    }
    #seeThisH3 {
        left: 30px;
        top: 60px;
    }
    #seeThisH3::after {
        transform: scaleY(-1) rotate(-50deg);
        left: 80px;
        top: -70px;
    }
}
    

/* ***************** */
/* ***  History  *** */
/* ***************** */

#historySection {
    padding: 5vh 2.5vw;
    background-image: linear-gradient(
        to top,
        var(--quotes),
        var(--bkgd)
    );
    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: auto auto auto auto;
    gap: 0 5vw;
    margin: 0 auto;
}

.box.headingBox h2 {
    text-align: center;
    padding: 0 2rem;
}

#historySection > div:nth-child(2) {   /* Research scientist I */
    width: 45vw;
    grid-row: 2;
    grid-column: 1;
}

#historySection > div:nth-child(3) {   /* Gained skills */
    width: 45vw;
    grid-row: 3;
    grid-column: 1;
}

#historySection > div:nth-child(4) {   /* On-the-job coding */
    width: 45vw;
    grid-row: 2 / span 2;
    grid-column: 2;
}

#historySection > div:nth-child(5) {   /* During the first month */
    grid-row: 4;
    grid-column: 1 / span 2;
    width: 95vw;
}


@media (any-hover: none) and (orientation: landscape) {
    #historySection {
        row-gap: 2vh;
        column-gap: 5vw;
    }
    #historySection > div:nth-child(2) {   /* Research scientist I */
        width: 45vw;
        grid-row: 2;
        grid-column: 1;
    }
    #historySection > div:nth-child(4) {   /* On-the-job coding */
        width: 45vw;
        grid-row: 3;
        grid-column: 1;
    }
    #historySection > div:nth-child(3) {   /* Gained skills */
        width: 45vw;
        grid-row: 4;
        grid-column: 1;
    }
    #historySection > div:nth-child(5) {   /* During the first month */
        width: 45vw;
        grid-row: 2 / span 3;
        grid-column: 2;
    }
}


@media (any-hover: hover) and (max-width: 785px) {
    #historySection {
        grid-template-columns: 200px 200px;
        gap: 0 10px;
        justify-content: center;

    }
    #historySection > div:nth-child(2) {width: 200px;}
    #historySection > div:nth-child(3) {width: 200px;}
    #historySection > div:nth-child(4) {width: 200px;}
    #historySection > div:nth-child(5) {width: 410px;}
}


@media (any-hover: hover) and (min-width: 786px) {
    #historySection {
        gap: 5px 20px;
        grid-template-columns: 400px 360px;
        padding: 2rem 0;
        justify-content: center;
    }

    #historySection > div:nth-child(2) {   /* Research scientist I */
        width: 400px;
        grid-row: 2;
        grid-column: 1;
    }
    #historySection > div:nth-child(4) {   /* On-the-job coding */
        width: 400px;
        grid-row: 3;
        grid-column: 1;
    }
    #historySection > div:nth-child(3) {   /* Gained skills */
        width: 400px;
        grid-row: 4;
        grid-column: 1;
    }
    #historySection > div:nth-child(5) {   /* During the first month */
        width: 360px;
        grid-row: 2 / span 3;
        grid-column: 2;
    }
}





/* ***************** */
/* ***  Skills  *** */
/* ***************** */

#skillsSection {
    padding: 2rem 0;
    background-image: linear-gradient(
        to top,
        var(--quotes),
        var(--bkgd)
    );
}

#skillsSection > div:not(:first-child) {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 4vh 0 6vh 0;
}

#skillsSection > div > div:not(:first-child) {margin: 1.5vw 2.5vw;}

/* ~ First elaboration ~ */

#skillsSection > div:nth-child(2) > div:not(:first-child) {
    width: 65vw;
    position: relative;  /* for positioning pseudoelement */
}

#skillsSection > div:nth-child(2) > div:last-child {align-self: flex-end;}

#skillsSection > div:nth-child(2) > div:last-child::before {
    content: "";
    display: block;
    background-image: url(arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 5rem;
    width: 4rem;
    position: absolute;
    top: -25vw;
    right: 10vw;
    transform: rotate(180deg) scaleY(-1);
    filter: drop-shadow(0px 0px 1px var(--headings));
}

/* ~ Second elaboration ~ */

#skillsSection > div:nth-child(3) > div:not(:first-child) {width: 65vw;}

#skillsSection > div:nth-child(3) > div:nth-child(3) {align-self: center;}

#skillsSection > div:nth-child(3) > div:nth-child(4) {align-self: flex-end;}


/* ~ Third elaboration */

#skillsSection > div:nth-child(4) > div:last-child {
    width: 65vw;
    position: relative;  /* for positioning pseudoelement */
}

#skillsSection > div:nth-child(4) > div:last-child::before {
    content: "";
    display: block;
    background-image: url(arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 5rem;
    width: 4rem;
    position: absolute;
    right: -20vw;
    top: 2vh;
    transform: rotate(210deg) scaleY(-1);
    filter: drop-shadow(0 0 1px var(--headings));
}


/* ~ Fourth elaboration ~ */

#skillsSection > div:nth-child(5) {width: 100vw;}

#skillsSection > div:nth-child(5) > div:nth-child(2) {width: 95vw;}

#skillsSection > div:nth-child(5) > div:nth-child(3) {
    width: 50vw;
    height: min-content;
    align-self: end;
    position: relative;  /* for positioning pseudoelement */
}

#skillsSection > div:nth-child(5) > div:nth-child(3)::before {
    content: "";
    display: block;
    background-image: url(arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 5rem;
    width: 4rem;
    position: absolute;
    top: 0;
    left: -20vw;
    transform: rotate(-60deg);
    filter: drop-shadow(0px 0px 1px var(--headings));
}



@media (any-hover: none) and (orientation: landscape) {
    #skillsSection > div:not(:first-child) {display: grid;}
    #skillsSection > div > div:not(:first-child) {margin: 3vh 0;}
    #skillsSection > div:first-child {margin-bottom: 3vh;}
    #skillsSection > div > div:last-child {margin-bottom: 6vh;}   

    /* ~ Skills: First elaboration ~ */

    #skillsSection > div:nth-child(2) {
        width: 95vw;
        margin: 0 auto;
        grid-row: auto auto;
        grid-column: 45vw 35vw;
        gap: 0 15vw;
        align-items: start;
        justify-content: center;
    }

    #skillsSection > div:nth-child(2) > div:first-child {
        grid-row: 1;
        grid-column: 1 / span 2;
        width: 95vw;
    }

    #skillsSection > div:nth-child(2) > div:nth-child(2) {
        width: 45vw;
        grid-row: 2;
        grid-column: 1;
    }

    #skillsSection > div:nth-child(2) > div:last-child {
        width: 35vw;
        grid-row: 2;
        grid-column: 2;
    }

    #skillsSection > div:nth-child(2) > div:last-child::before {
        transform: rotate(110deg) scaleY(-1);
        top: 5vh; 
        right: 38vw;
    }

    /* ~ Second elaboration ~ */

    #skillsSection > div:nth-child(3) {
        grid-template-rows: auto 80vh;
        grid-template-columns: 30vw 30vw 30vw;
        gap: 2.5vw;
    }

    #skillsSection > div:nth-child(3) > div:not(:first-child) {
        width: 30vw;
        grid-row: 2;
    }

    #skillsSection > div:nth-child(3) > div:first-child {
        grid-row: 1;
        grid-column: 1 / span 3;
    }

    #skillsSection > div:nth-child(3) > div:nth-child(2) {
        grid-column: 1;
        align-self: start;
    }

    #skillsSection > div:nth-child(3) > div:nth-child(3) {grid-column: 2;}
    
    #skillsSection > div:nth-child(3) > div:nth-child(4) {
        grid-column: 3;
        align-self: end;
    }
    
    /* ~ Third elaboration */

    #skillsSection > div:nth-child(4) {
        grid-template-rows: auto auto;
        grid-template-columns: 62vw 28vw;
        gap: 2.5vw;
        margin-bottom: 10vw;   /* to allow for positioning of its last child */
    }

    #skillsSection > div:nth-child(4) > div:first-child {
        grid-row: 1;
        grid-column: 1 / span 2;
    }
    #skillsSection > div:nth-child(4) > div:nth-child(2) {
        grid-row: 2;
        grid-column: 1;
        width: 62vw;
        
    }
    #skillsSection > div:nth-child(4) > div:last-child {
        grid-row: 2;
        grid-column: 2;
        width: 28vw;
        top: 10vw;
    }

    #skillsSection > div:nth-child(4) > div:last-child::before {
        transform: rotate(160deg) scaleY(-1);
        left: 3vw;
        top: -10vw;
    }

    /* ~ Fourth elaboration ~ */

    #skillsSection > div:nth-child(5) > div:nth-child(3)::before {background-image: none;}

}


@media (any-hover: hover) {
    
    #skillsSection > div > div:not(:first-child) {margin: 10px 0;}
    #skillsSection > div:first-child {margin-bottom: 30px;}
    #skillsSection > div > div:last-child {margin-bottom: 60px;}   
}


@media (any-hover: hover) and (max-width: 785px) {
    #skillsSection > div:not(:first-child) {
        width: 400px;
        margin: 0 auto;
    }
    #skillsSection > div:not(:first-child) > div:first-child {
        width: 400px;
        text-align: center;
        margin: 0 auto;
    }

    /* ~ First elaboration ~ */

    #skillsSection > div:nth-child(2) > div:not(:first-child) {width: 300px;}
    #skillsSection > div:nth-child(2) > div:last-child::before {
        top: -100px;
        right: 20px;
    }

    /* ~ Second elaboration ~ */
    #skillsSection > div:nth-child(3) > div:not(:first-child) {width: 300px;}
    
    /* ~ Third elaboration */
    #skillsSection > div:nth-child(4) > div:nth-child(2) {width: 400px;}
    #skillsSection > div:nth-child(4) > div:last-child {width: 250px;}
    #skillsSection > div:nth-child(4) > div:last-child::before {
        left: 270px;
        top: 0;  
    }

    /* ~ Fourth elaboration ~ */

    #skillsSection > div:nth-child(5) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    #skillsSection > div:nth-child(5) > div:nth-child(1) {width: 400px;}
    #skillsSection > div:nth-child(5) > div:nth-child(2) {width: 215px;}
    #skillsSection > div:nth-child(5) > div:nth-child(3) {
        width: 165px;
        margin-bottom: 10px;
    }
    #skillsSection > div:nth-child(5) > div:nth-child(3)::before {
        transform: rotate(160deg) scaleY(-1);
        top: -90px;
        left: 10px; 
    }

}






@media (any-hover: hover) and (min-width: 786px) {

    #skillsSection > div:not(:first-child) {
        width: 780px;
        margin: 0 auto;
    }

    #skillsSection > div:not(:first-child) > div:first-child {
        width: 780px;
        text-align: center;
    }

    /* ~ First elaboration ~ */

    #skillsSection > div:nth-child(2) > div:not(:first-child) {width: 600px;}
    #skillsSection > div:nth-child(2) > div:last-child::before {
        top: -110px;
        right: 90px;    
    }
    /* ~ Second elaboration ~ */
    #skillsSection > div:nth-child(3) > div:not(:first-child) {width: 550px;}
    
    /* ~ Third elaboration */
    
    #skillsSection > div:nth-child(4) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;        
    }
    #skillsSection > div:nth-child(4) > div:nth-child(1) {width: 780px;}
    #skillsSection > div:nth-child(4) > div:nth-child(2) {width: 420px;}
    #skillsSection > div:nth-child(4) > div:nth-child(3) {
        width: 230px;
        height: min-content;
        align-self: end;
        margin-bottom: 10px;
    }
    #skillsSection > div:nth-child(4) > div:last-child::before {
        right: 250px;
        top: 50px;
        transform: rotate(110deg) scaleY(-1);
    }

    

    /* ~ Fourth elaboration ~ */
    #skillsSection > div:nth-child(5) {
        width: 780px;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;
    }
    #skillsSection > div:nth-child(5) > div:nth-child(2) {width: 380px;}
    #skillsSection > div:nth-child(5) > div:nth-child(3) {
        width: 380px;
        align-self: end;
        margin-bottom: 10px;
    }
    #skillsSection > div:nth-child(5) > div:nth-child(3)::before {
        transform: rotate(130deg) scaleY(-1);
        top: -80px;
        left: 30px;
    }
}